<div class="card">
  <div class="card-header">PLAN
    <div class="card-body">
      <div class="card mt-2" *ngFor="let t of tasks">
        <div class="card-body">
          <h5 class="card-title">{{ t.title }}</h5>
          <p class="card-content">{{ t.description }}</p>
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              more
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="t.status = statusTODO; onUpdate(t.id, t)">TODO</button>
              <button ngbDropdownItem (click)="t.status = statusDONE; onUpdate(t.id, t)">DONE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
