<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Success!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Data successfully save</p>
  </div>
</ng-template>

<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <h5 class="card-header" *ngIf="student.id"> {{ student.firstName }}</h5>
        <h5 class="card-header" *ngIf="!student.id">New User</h5>
        <ul class="list-group list-group-flush" *ngIf="student && isConfirmedDeleted">
          <li class="list-group-item">
            Anda yakin ingin menghapus student {{student.firstName}}?
          </li>
          <li class="list-group-item">
            <div class="mb-3 mt-3 " *ngIf="student.id">
              <button class="btn btn-warning " (click)="isConfirmedDeleted = false">No</button>
              <button class="btn btn-danger ms-1" (click)="onDelete(student.id)">Yes</button>
            </div>
          </li>
        </ul>
        <label class="form-label"> First Name</label>
        <input type="text" [(ngModel)]="student.firstName" class="form-control">
        <label class="form-label"> Last Name</label>
        <input type="text" [(ngModel)]="student.lastName" class="form-control">
        <label class="form-label">Age</label>
        <input type="number" [(ngModel)]="student.age" class="form-control">
        <div class="mb-3 mt-3" *ngIf="student.id">
          <button class="btn btn-primary" (click)="onUpdate(student.id, student)">Update</button>
          <button class="btn btn-warning" (click)="cancel()">Cancel</button>
          <button class="btn btn-danger" (click)="onDelete(student.id)">Delete</button>
        </div>
        <div class="mb-3 mt-3" *ngIf="!student.id">
          <button class="btn btn-success mt-3" (click)="onCreateStudent(content)">Save Data</button>
        </div>
      </div>
    </div>
    <div class="col-8" *ngIf="students.length > 0">
      <h5 class="card-header">Student</h5>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of students" (click)="setStudent(s)">
          <td>{{ s.id }}</td>
          <td>{{ s.firstName}}</td>
          <td>{{ s.lastName }}</td>
          <td>{{ s.age }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
